@page
@model PeekABookWebApp.Pages.AuthorModel
@{
    ViewData["Title"] = "About Author";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-12 col-md-4">
        <img class="img-fluid" style="object-fit: cover; object-position: top" src="https://avatars.githubusercontent.com/u/50491841?v=4" alt="Image of Evan" />
        <div class="text-center">
            <a class="btn btn-primary" href="https://www.linkedin.com/in/muhammad-evan-anindya-wahyuaji-7796aa192/" target=" _blank" rel="noopener noreferrer" style="background-image: url('/img/Linkedin42.png'); background-repeat: no-repeat; background-position: 0px -3px;padding-left: 55px; margin-top: 8px; margin-bottom: 8px;">My Linkedin</a>
            <a class="btn btn-dark" href="https://github.com/MEvanAW/" target=" _blank" rel="noopener noreferrer" style="background-image: url('/img/Github42.png'); background-repeat: no-repeat; background-position: 0px -3px;padding-left: 55px; margin-top: 8px; margin-bottom: 8px;">My Github</a>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Muhammad Evan Anindya Wahyuaji</h2>
                <p class="card-text">I am a fresh graduate from Bachelor Program of Information Engineering UGM. I am a proactive and diligent person. I have interest in Android and Web Development.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">GPA: 3.58</li>
                <li class="list-group-item">TOEFL ITP: 627</li>
                <li class="list-group-item">Hard Skills
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-light">Android Development</li>
                        <li class="list-group-item fw-light">Web Development</li>
                        <li class="list-group-item fw-light">Deep Learning</li>
                        <li class="list-group-item fw-light">Windows Forms Development</li>
                        <li class="list-group-item fw-light">Graphic Design</li>
                    </ul>
                </li>
                <li class="list-group-item">Languages
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-light">Kotlin, Java</li>
                        <li class="list-group-item fw-light">C#, C++</li>
                        <li class="list-group-item fw-light">Go, Python</li>
                        <li class="list-group-item fw-light">PHP, Javascript</li>
                    </ul>
                </li>
                <li class="list-group-item">Developer Of
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-light">Peek a Book (This Website)</li>
                        <li class="list-group-item fw-light"><a href="https://play.google.com/store/apps/details?id=com.warnet.laptopku" target=" _blank" rel="noopener noreferrer">Laptopku (Android)</a></li>
                        <li class="list-group-item fw-light"><a href="https://github.com/MEvanAW/papb-bookapp" target=" _blank" rel="noopener noreferrer">Peek a Book, but Android version</a></li>
                    </ul>
                </li>
                <li class="list-group-item">Work Experience
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-light">Web Developer Intern at PT Javan Cipta Solusi (4 months)</li>
                    </ul>
                </li>
                <li class="list-group-item">Organizational Experience
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-light">Vice Chairman of Sentra Kerohonanian Islam DTETI FT UGM (1 year)</li>
                        <li class="list-group-item fw-light">Subunit Coordinator (Kormasit) KKN-PPM UGM Manjungan & Candirejo, Klaten (4 months)</li>
                        <li class="list-group-item fw-light">Multimedia Staff of FIND IT! 2020 IT Webinar and Competition (1 year)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>