@page
@model PeekABookWebApp.Pages.AuthorModel
@{
    ViewData["Title"] = "About Author";
}
<h1>@ViewData["Title"]: Muhammad Evan Anindya Wahyuaji</h1>
<div class="row">
    <div class="col-12 col-md-4">
        <img class="img-fluid" style="object-fit: cover; object-position: top" src="https://avatars.githubusercontent.com/u/50491841?v=4" alt="Image of Evan" />
        <div class="text-center">
            <a href="https://www.linkedin.com/in/muhammad-evan-anindya-wahyuaji-7796aa192/" target=" _blank" rel="noopener noreferrer">My Linkedin</a><br/>
            <a href="https://github.com/MEvanAW/" target=" _blank" rel="noopener noreferrer">My Github</a>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card body">
                <p class="card-text" style="text-align: justify;">I am a fresh graduate from Bachelor Program of Information Engineering UGM. I am a proactive and diligent person. I have interest in Android and Web Development.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">GPA: 3.58</li>
                <li class="list-group-item">TOEFL ITP: 627</li>
                <li class="list-group-item">Hard Skills</li>
                <li class="list-group-item-secondary">Android Development</li>
                <li class="list-group-item-secondary">Web Development</li>
                <li class="list-group-item-secondary">Deep Learning</li>
                <li class="list-group-item-secondary">Windows Forms Development</li>
                <li class="list-group-item-secondary">Graphic Design</li>
                <li class="list-group-item">Languages</li>
                <li class="list-group-item-secondary">Kotlin, Java</li>
                <li class="list-group-item-secondary">C#, C++</li>
                <li class="list-group-item-secondary">Go, Python</li>
                <li class="list-group-item-secondary">PHP, Javascript</li>
                <li class="list-group-item">Developer Of</li>
                <li class="list-group-item-secondary"><a href="https://play.google.com/store/apps/details?id=com.warnet.laptopku" target=" _blank" rel="noopener noreferrer">Laptopku (Android)</a></li>
                <li class="list-group-item-secondary"><a href="https://github.com/MEvanAW/papb-bookapp" target=" _blank" rel="noopener noreferrer">Peek a Book, but Android version</a></li>
                <li class="list-group-item">Work Experience</li>
                <li class="list-group-item-secondary">Web Developer Intern at PT Javan Cipta Solusi (4 months)</li>
                <li class="list-group-item">Organizational Experience</li>
                <li class="list-group-item-secondary">Vice Chairman of Sentra Kerohonanian Islam DTETI FT UGM (1 year)</li>
                <li class="list-group-item-secondary">Subunit Coordinator (Kormasit) KKN-PPM UGM Manjungan & Candirejo, Klaten (4 months)</li>
            </ul>
        </div>
    </div>
</div>