@page
@using PeekABookWebApp.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5 text-primary">Welcome to peek a book</h1>
</div>
<div class="text-start">
    <h2 class="display-6">Books by Genres</h2>
    <h3 class="display-7">Fantasy Books</h3>
</div>
<div class="card-group" style="margin-bottom: 1.15em">
    @foreach (var book in Model.FantasyBooks)
    {
        @(await Html.RenderComponentAsync<BookCard>(RenderMode.ServerPrerendered, new { Book = book }))
    }
</div>
<div class="text-start">
    <h3 class="display-7">Self Help Books</h3>
</div>
<div class="card-group" style="margin-bottom: 1.15em">
    @foreach (var book in Model.SelfHelpBooks)
    {
        @(await Html.RenderComponentAsync<BookCard>(RenderMode.ServerPrerendered, new { Book = book }))
    }
</div>
<div class="text-start">
    <h3 class="display-7">Health Books</h3>
</div>
<div class="card-group" style="margin-bottom: 1.15em">
    @foreach (var book in Model.HealthBooks)
    {
        @(await Html.RenderComponentAsync<BookCard>(RenderMode.ServerPrerendered, new { Book = book }))
    }
</div>
<script src="_framework/blazor.server.js"></script>