@page
@using PeekABookWebApp.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5 text-primary">Welcome to peek a book</h1>
</div>
<div class="text-start">
    <h2 class="display-6">Books by Genres</h2>
    <h3 class="display-7">Fantasy Books</h3>
</div>
@(await Html.RenderComponentAsync<BookCardGroup>(RenderMode.ServerPrerendered, new { Books = Model.FantasyBooks, ModalTag = "Fantasy" }))
<div class="text-start">
    <h3 class="display-7">Self Help Books</h3>
</div>
<div class="card-group" style="margin-bottom: 1.15em">
        @(await Html.RenderComponentAsync<BookCardGroup>(RenderMode.ServerPrerendered, new { Books = Model.SelfHelpBooks, ModalTag = "SelfHelp" }))
</div>
<script src="_framework/blazor.server.js"></script>