@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome to peek a book</h1>
</div>
<div class="text-start">
    <h2 class="display-5">Trending Books</h2>
</div>
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" style="max-height: 18rem; object-fit :cover;" src="https://avatars.githubusercontent.com/u/50491841?v=4" alt="Alt Text" />
                <h3 class="card-title">Book 1 Title</h3>
                <p class="card-text"><i>Book 1 Author</i></p>
                <p class="card-text">Book 1 Description</p>
                <a href="#" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" style="max-height: 18rem; object-fit :cover;" src="https://avatars.githubusercontent.com/u/50491841?v=4" alt="Alt Text" />
                <h3 class="card-title">Book 2 Title</h3>
                <p class="card-text"><i>Book 2 Author</i></p>
                <p class="card-text">Book 2 Description</p>
                <a href="#" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" style="max-height: 18rem; object-fit :cover;" src="https://avatars.githubusercontent.com/u/50491841?v=4" alt="Alt Text" />
                <h3 class="card-title">Book 3 Title</h3>
                <p class="card-text"><i>Book 3   Author</i></p>
                <p class="card-text">Book 3 Description</p>
                <a href="#" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
</div>